* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

html {
    font-family: sans-serif;
    font-size:18px;
}

body {
    background-color: #FBFBFB;
}

#main-container {
    padding-top:3%;
    display:flex;
    justify-content:space-around;
    align-items:center;
    /* flex-wrap:wrap; */
}

#header {
    width:10vmin;
    height:85vmin;
    /* border: 1px solid black; */
    align-self:flex-end;
    flex-grow:1;
    display:flex;
    align-items: center;
    justify-content: center;
}

#start {
    background-color: green;
    height:10%;
    width:45%;
    color:white;
    font-size:3vmin;
    /* transition:transform 0.5s linear 0s;
    backface-visibility: hidden; */
}

/* #start:hover {
    transform: rotateY(-180deg);
} */

#pause {
    background-color: orange;
    height:10%;
    width:45%;
    color:white;
    font-size:3vmin;
}

#grid-container {
    /* border: 1px solid black; */
    height:85vmin;
    width:85vmin;
    /* flex-grow:1; */
    /* margin: 0 auto; */
    display:grid;
    grid-gap: 1px;
    /* grid-gap: 0 0; */
    /* grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr); */
    grid-template-columns: [first] 1fr [second] 1fr [third] 1fr [fourth] 1fr [fifth] 1fr
    [sixth] 1fr [seventh] 1fr [eighth] 1fr [ninth] 1fr [tenth] 1fr;

    grid-template-rows: [first] 1fr [second] 1fr [third] 1fr [fourth] 1fr [fifth] 1fr
    [sixth] 1fr [seventh] 1fr [eighth] 1fr [ninth] 1fr [tenth] 1fr;
    /* grid-column: 1;
    grid-row:1; */
}

#footer {
    width:10vmin;
    height:85vmin;
    /* border: 1px solid black; */
    align-self:flex-end;
    flex-grow:1;
    display:flex;
    align-items: center;
    justify-content: center;
}

.box {
    background-color: rgb(165,202,73);
}

/* .box:nth-child(odd) {
    background-color: rgb(165,202,73);
} */

/* .box:nth-child(even) {
    background-color: rgb(152, 192, 50);
} */

#score {
    
}


.image {
    /* background:pink url('./Lapinpin.png') no-repeat center center / contain; */
    background: url('./Lapinpin.png') no-repeat center center / contain;
}


@media all and (max-width: 1025px) {
    
    #main-container {
        padding-top:3%;
        display:block;
        margin: 0 auto;
    }
    #header {
        width:90vw;
        height:10vh;
        margin: 0 auto;
    }
    #grid-container {
        height:85vmin;
        width:90vmin;
        display:grid;
        grid-gap: 1px;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
        margin: 0 auto;
    }
    #footer {
        width:90vw;
        height:10vh;
        margin: 0 auto;
    }
    
    #start {
        background-color: green;
        height:65%;
        width:50%;
        color:white;
        font-size:3vmin;
        transition:transform 0.5s linear 0s;
        backface-visibility: hidden;
    }
    
    #pause {
        background-color: orange;
        height:65%;
        width:50%;
        color:white;
        font-size:3vmin;
    }
}



/* .tete {
    background-color: red;
    border-radius:10px;
} */





/* TEST 1 */

/* #grid-container {
    padding-top:3%;
    margin: 0 auto;
    width:75vw;
    height:75vh;
    display:grid;
    grid-gap: 5px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: [first] 1fr [second] 1fr [third] 1fr [fourth] 1fr [fifth] 1fr
    [sixth] 1fr [seventh] 1fr [eighth] 1fr [ninth] 1fr [tenth] 1fr;

    grid-template-rows: [first] 1fr [second] 1fr [third] 1fr [fourth] 1fr [fifth] 1fr
    [sixth] 1fr [seventh] 1fr [eighth] 1fr [ninth] 1fr [tenth] 1fr;
} */

/* EXEMPLE */

.wrapper {
    /* If we want to define a size for multiple screens, we can do as such:
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr) );
    */
    width:90%;
    margin:0 auto;
    display:grid;
    /* grid-template-columns: 100px 200px 300px;
    grid-template-rows: 100px;
    grid-auto-rows: 150px; */
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

}

.item {
    background-color: #58d5f6;
    color:white;
    padding:10px;
}

.item:nth-child(even) {
    background-color: #236fc8;
}

.item5 {
/* grid-column: span 2;  Il prend 2 colonnes de longueur */
grid-column-start: 1; /* il commence au début de la 1re colonne et s'arrête au début de la 3e = longueur de 2 colonnes */
grid-column-end: 3;
}




